
.view.loading {
	opacity: 0.5;
}
.view.loading:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.4) url(loader.gif) center center no-repeat;
	background-size: contain;
}
